# Task 2: Data Preprocessing for Machine Learning – AI Bootcamp

Download Titanic Dataset here: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

#### About this file

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

## Section 1: Data Loading & Exploration

### **Task 1**: Load and Inspect a Dataset

*Instruction*: Load the `titanic.csv` dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')

print("First 5 rows of the dataset:")
print(df.head())

print("\nBasic Information:")
print(df.info())

print("\nDescriptive Statistics:")
print(df.describe())

First 5 rows of the dataset:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

Descriptive Statistics:
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

## Section 2: Handling Missing Values

### **Task 2**: Identify and Handle Missing Data

*Instruction*:



*   Display the number of missing values per column.
*   Fill missing `Age` values with the median.
*   Drop the second row in the dataset.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')

print("Missing values per column:")
print(df.isnull().sum())

# Fill missing Age values with the median
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)

df.drop(index=1, inplace=True)

print("\nFirst 5 rows after handling missing data and dropping the second row:")
print(df.head())

Missing values per column:
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

First 5 rows after handling missing data and dropping the second row:
   Survived  Pclass                                         Name     Sex  \
0         0       3                       Mr. Owen Harris Braund    male
2         1       3                        Miss. Laina Heikkinen  female
3         1       1  Mrs. Jacques Heath (Lily May Peel) Futrelle  female
4         0       3                      Mr. William Henry Allen    male
5         0       3                              Mr. James Moran    male

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0  22.0                        1                        0   7.2500
2  26.0                        0                        0   7.9250
3  35.0                        1                        0  53.1000
4  35.0                        0                        0   8.0500
5  27.0                        0                        0   8.4583

## Section 3: Encoding Categorical Features

### **Task 3**: Convert Categorical to Numeric

*Instruction*: Convert `Sex` and `Pclass` columns to numeric using:


*   Label Encoding for `Sex`
*   One-Hot Encoding for `Pclass`

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('/content/titanic.csv')

median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)
df.drop(index=1, inplace=True)

# Label Encoding for 'Sex'
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

df = pd.get_dummies(df, columns=['Pclass'], prefix='Pclass')

print("First 5 rows after encoding:")
print(df.head())

First 5 rows after encoding:
   Survived                                         Name  Sex   Age  \
0         0                       Mr. Owen Harris Braund    1  22.0
2         1                        Miss. Laina Heikkinen    0  26.0
3         1  Mrs. Jacques Heath (Lily May Peel) Futrelle    0  35.0
4         0                      Mr. William Henry Allen    1  35.0
5         0                              Mr. James Moran    1  27.0

   Siblings/Spouses Aboard  Parents/Children Aboard     Fare  Pclass_1  \
0                        1                        0   7.2500     False
2                        0                        0   7.9250     False
3                        1                        0  53.1000      True
4                        0                        0   8.0500     False
5                        0                        0   8.4583     False

   Pclass_2  Pclass_3
0     False      True
2     False      True
3     False     False
4     False      True
5     False      True

## Section 4: Feature Scaling

### **Task 4**: Scale Numerical Features

*Instruction*: Use StandardScaler to scale the Age and Fare columns.*italicized text*

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

df = pd.read_csv('/content/titanic.csv')

median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)
df.drop(index=1, inplace=True)

label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])


df = pd.get_dummies(df, columns=['Pclass'], prefix='Pclass')

# Scale 'Age' and 'Fare'
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

print("First 5 rows after scaling 'Age' and 'Fare':")
print(df.head())

First 5 rows after scaling 'Age' and 'Fare':
   Survived                                         Name  Sex       Age  \
0         0                       Mr. Owen Harris Braund    1 -0.528495
2         1                        Miss. Laina Heikkinen    0 -0.245189
3         1  Mrs. Jacques Heath (Lily May Peel) Futrelle    0  0.392250
4         0                      Mr. William Henry Allen    1  0.392250
5         0                              Mr. James Moran    1 -0.174362

   Siblings/Spouses Aboard  Parents/Children Aboard      Fare  Pclass_1  \
0                        1                        0 -0.502593     False
2                        0                        0 -0.489029     False
3                        1                        0  0.418741      True
4                        0                        0 -0.486517     False
5                        0                        0 -0.478313     False

   Pclass_2  Pclass_3
0     False      True
2     False      True
3     False     False
4     False      True
5     False      True

## Section 5: Feature Engineering

### **Task 5**: Build Preprocessing Pipeline

*Instruction*: Using `ColumnTransformer` and `Pipeline` from `sklearn`, build a pipeline that:



*   Imputes missing values
*   Scales numeric data
*   Encodes categorical data

In [ ]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

numeric_features = ['Age', 'Fare']
categorical_features = ['Sex', 'Pclass']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])
df = pd.read_csv('/content/titanic.csv')
df = preprocessor.fit_transform(df)
print(df)

[[-0.52936601 -0.50358635  0.         ...  0.          0.
   1.        ]
 [ 0.60426454  0.78341245  1.         ...  1.          0.
   0.        ]
 [-0.24595837 -0.49001959  1.         ...  0.          0.
   1.        ]
 ...
 [-1.59214465 -0.17798419  1.         ...  0.          0.
   1.        ]
 [-0.24595837 -0.04633641  0.         ...  1.          0.
   0.        ]
 [ 0.17915309 -0.4935369   0.         ...  0.          0.
   1.        ]]

## Section 6: Feature Engineering

### **Task 6**: Create a New Feature

*Instruction*: Create a new feature `FamilySize` = `Siblings/Spouses Aboard` + `Parents/Children Aboard` + 1.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')

df.drop(index=1, inplace=True)

# Create the new feature FamilySize
df['FamilySize'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard'] + 1

print("First 5 rows with 'FamilySize' feature:")
print(df[['Siblings/Spouses Aboard', 'Parents/Children Aboard', 'FamilySize']].head())

df.to_csv('titanic_processed.csv', index=False) # for saving file as csv

First 5 rows with 'FamilySize' feature:
   Siblings/Spouses Aboard  Parents/Children Aboard  FamilySize
0                        1                        0           2
2                        0                        0           1
3                        1                        0           2
4                        0                        0           1
5                        0                        0           1